spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: funvlogs9862@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true